.show-review{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
   
}
.review-title{
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
@media only screen and (max-width : 576px) {
    .show-review{
        grid-template-columns: repeat(1, 1fr);
        
    }  
}