
.card-title{
    padding-top: 100px;
    color: rgb(128, 25, 25);
    font-weight: 800;
}
.card-subtitle{
    padding-bottom: 20px;
    color: rgb(199, 178, 152);
}
.card-text{
    color: brown;
    margin-bottom: 150px;
    font-style: italic;
    font-weight: bold;
}
.card-subtext{
    margin-bottom: 5px;
    color: rgb(173, 138, 95);
}
.slidertext2{
    margin-right: 800px;
    margin-bottom: 120px;
    color: antiquewhite;
}
.slidertext3{
    margin-right: 800px;
    margin-bottom: 50px;
    color: antiquewhite;
}