.review-box{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: rgb(17, 9, 9);
    border: 1px solid brown;
    
}
.review-box:hover{
    background-color:  rgb(19, 13, 13) ;
}