.services-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    grid-gap: 10px;
    

}
.title{
    text-align: center;
    padding: 50px;
}
.show-all{
    text-align: center;
    color: brown;
    padding: 20px;
}
/* responsive */
@media only screen and (max-width : 576px) {
    .services-container{
        grid-template-columns: repeat(1, 1fr);
        
    }  
}

